<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Saisir un chef</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-md-2" for="inputName">Identité</label>
                <div class="col-md-5">
                  <input class="form-control" type="text" ng-model="chef.long_name" placeholder="Nom de famille">
                </div>
                <div class="col-md-5">
                  <input  class="form-control" type="text" ng-model="chef.firstname" placeholder="Prénom">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2" for="inputBirthday">Date de naissance</label>
                <div class="col-md-10">
                    <div class="input-append">
                        <input class="form-control" ng-model="chef.birthday" type="text" value="">
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2" for="inputEmail">Email</label>
                <div class="col-md-10">
                  <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input class="form-control" type="text" ng-model="chef.mail" placeholder="Email">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2" for="inputTel">Téléphone</label>
                <div class="col-md-10">
                  <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                    <input class="form-control"  type="text" ng-model="chef.tel" placeholder="Numéro de téléphone">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2" for="inputAdresse">Adresse</label>
                <div class="col-md-10">
                  <input class="form-control" type="text"  ng-model="chef.adresse" placeholder="N°, Voie, ...">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2" for="inputCity">Ville</label>
                <div class="col-md-3">
                  <input class="form-control" type="text" ng-model="chef.post_code" placeholder="CP" class="input-mini">
                </div>
                <div class="col-md-7">
                  <input class="form-control" type="text" ng-model="chef.city" placeholder="Ville" class="input-large">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2" for="inputProfil">Profil</label>
                <div class="col-md-10">
                    <input type="radio" ng-model="chef.profil" value="Chef"> Chef d'unité
                    <input type="radio" ng-model="chef.profil" value="Assistant"> Assistant
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2" for="inputFormation">Formation</label>
                <div class="col-md-10">
                    <select class="form-control" name="inputFormation" 
                    ng-model="chef.formation_lvl" 
                    ng-options="formation.lvl as formation.name for formation in formations"
                    >
                    </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2" for="inputCommentaire">Commentaire</label>
                <div class="col-md-10">
                    <textarea class="form-control"  ng-model="chef.commentaire" rows="6" class="popupTextarea"></textarea>
                </div>
              </div>
        </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>