<ol class="breadcrumb">
  <li><a href="#">Accueil</a></li>
  <li class="active">Message</li>
</ol>
<form class="form-horizontal" role="form">
<div class="pull-right" style="margin-top: -0.5em;">
  <button class="btn btn-primary" ng-click="ok()">Envoyer</button>
  <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
</div>

<div class="row">
	<div class="col-md-6" style="margin-top: 3.5em;">
		<fieldset class="titled-box" style="min-height: 200px">
			<legend>Type de public</legend>
				<div class="form-group">
					<label class="col-md-6 col-md-offset-2">Province</label>
					<div class="col-md-4">
						<input type="radio" name="type" value="" placeholder="">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-6 col-md-offset-2">District</label>
					<div class="col-md-4">
						<input type="radio" name="type" value="" placeholder="">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-6 col-md-offset-2">Groupe</label>
					<div class="col-md-4">
						<input type="radio" name="type" value="" placeholder="">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-6 col-md-offset-2">Unite</label>
					<div class="col-md-4">
						<input type="radio" name="type" value="" placeholder="">
					</div>
				</div>

		</fieldset>
	</div>

	<div class="col-md-6" style="margin-top: 1.6em;">
		<fieldset class="titled-box" style="min-height: 227px">
			<legend>Destinataires</legend>
			<div class="col-md-10 col-md-offset-1">
		          <div class="form-group">
		                <select class="form-control"
		                multiple="multiple"
		                ng-model="right" 
		                ui-select2 
		                ng-options="unite.unite_id as unite.branche_name + ' - ' + unite.province_name + ' - ' + unite.district_name + ' - ' + unite.groupe_name for unite in unites"
		                >
		                </select>
		          </div>
		    </div>
		</fieldset>
	</div>
</div>

<div class="row">
	<div class="col-md-12" style="margin-top: 1em;">
		<fieldset class="titled-box">
			<legend>Message</legend>
				<div class="form-group">
			  	  	<label class="col-md-1 control-label">Objet </label>
				  	<div class="col-md-11">
				   		<input type="text" placeholder="Titre de votre message" class="form-control"/>
				  	</div>
				</div>
				<div class="form-group">
					<textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
				</div>
		</fieldset>
	</div>
</div>
</form>